extends layout
block content
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}
        //- TODO FORMULARIO
        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method='POST')
            .campo
                label(for="tarea") Tarea:
                //- El atributo name no sirve del lado el back, para extraeer el valor
                input.nombre-tarea(type="text", name="tarea" placeholder="Nombre tarea")
            .campo-enviar
                input.boton.nueva-tarea(type="submit", value="Agregar")
        //- TODO LISTADO DE PENDIENTES
        .listado-pendientes
            ul
                if tareas.length
                    each tarea in tareas
                        li.tarea
                            p= tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fa.fa-trash
                else
                    p No asigned tasks
        //- pre= vardump(tareas)
        //- ACCIONES QUE SE PUEDEN REALIZAR
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar proyecto